<!-- {% load static %} -->
<!DOcTYPE html>
<html>
    <head>
        <title>Birthday</title>
        <!-- <link rel="stylesheet" href="{% static 'css/bday.css' %}"> -->
        <link rel="stylesheet" href="bday.css">

    </head>
    <body>
        <div>
            <h1>HAPPY BIRTHDAY AKKA</h1>
        </div>
        <section>
            <video width="100%" height="100%" loop muted autoplay="autoplay">        
                <!-- id="autoplay" -->
                <source src="2004922060.mp4" type="video/mp4">
            </video>
        </section>
        <div class="div-1">
            <a href="/hpyday/">once again happy birthday -- for more</a>
        </div>
        <!-- <script>
            window.onload = function(){
                document.getElementById("autoplay").play();
            }
        </script> -->
    </body>
</html>