<!-- {% load static %} -->
<!DOCTYPE html>
<html>
    <head>
        <title>HAPPY BIRTHDAY</title>
    </head>
    <body>
        <section>
            <div>
                <img src="ramya-2.JPG" width="25%" height="25%">
                <img src="ramya-3.JPG" width="25%" height="25%">
                <img src="ramya-4.JPG" width="25%" height="25%">
                <img src="ramya-5.JPG" width="25%" height="25%">
                <img src="ramya-7.JPG" width="25%" height="25%">
                <img src="ramya-8.JPG" width="25%" height="25%">
                <img src="ramya-9.JPG" width="25%" height="25%">
                <img src="ramya-10.JPG" width="25%" height="25%">
                <img src="ramya-12.JPG" width="25%" height="25%">
                <img src="ramya-1.jpg" width="25%" height="25%">
                <img src="ramya-23.jpg" width="25%" height="25%">
                <img src="ramya-13.JPG" width="25%" height="25%">
                <img src="ramya-15.jpg" width="25%" height="25%">
                <img src="ramya-16.jpg" width="25%" height="25%">
                <img src="ramya-25.jpg" width="25%" height="25%"><br>
                <img src="ramya-20.jpg" width="25%" height="25%">
                <img src="ramya-21.jpg" width="25%" height="25%"><br>
                <img src="ramya-22.jpg" width="25%" height="25%">
                <img src="ramya-24.jpg" width="25%" height="25%"><br>
                <img src="ramya-26.jpg" width="25%" height="25%">
                <img src="ramya-27.jpg" width="25%" height="25%">
                <img src="ramya-28.jpg" width="25%" height="25%"><br>
                <img src="ramya-30.JPG" width="25%" height="25%">
                <img src="ramya-31.JPG" width="25%" height="25%">
                <img src="ramya-32.JPG" width="25%" height="25%"><br>
                <img src="ramya-17.jpg" width="25%" height="25%">
                <img src="ramya-18.jpg" width="25%" height="25%">
                <img src="ramya-33.jpg" width="25%" height="25%">
                <img src="ramya-29.jpg" width="25%" height="25%">
                <img src="ramya-6.JPG" width="25%" height="25%"><br>
                <img src="ramya-14.jpg" width="25%" height="25%">
                <img src="ramya-19.jpg" width="25%" height="25%">              
                <img src="ramya-35.jpg" width="25%" height="25%">
                <img src="ramya-36.jpg" width="25%" height="25%">
                <img src="ramya-34.jpg" width="25%" height="25%">
            </div>
        </section>
    </body>
</html>
